<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <add connectionString="Data Source=gpaafjxn5d.database.windows.net;Initial Catalog=GestPhoto_Admin;User Id=marco.bianchin;Password=BigDragon99;" name="MarketQuality" />
</connectionStrings>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
